<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Aceptar o denegar requisición</title>
    <div layout:fragment="style_css">
        <!-- Aqui va el codigo CSS extra que se quiera agregar -->


        <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
              href="/static/vendor/datatables/dataTables.bootstrap4.min.css"
              rel="stylesheet" type="text/css">
    </div>
</head>

<body>

<div layout:fragment="main_content">
    <!-- Aqui va el contenido principal -->
    <div class="row">
        <div class="col-xl-12">
            <div
                    class="card py-3 my-3 shadow-sm d-flex flex-row align-items-center justify-content-between">
                <div class="col mr-2 text-dark">
                    <h2>Aceptar o denegar requisición</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow-sm my-3 py-3">
                <div class="table-responsive-lg table-responsive-sm table-responsive-md col-xl-12 col-md-12 col-sm-12">
                    <!-- Tabla de la requisición -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card shadow-sm my-3 py-3">
                                <div class="table-responsive-lg table-responsive-sm table-responsive-md col-xl-12 col-md-12 col-sm-12">
                                    <div class="d-flex flex-row">
                                        <p class="p-2"><strong>Departamento que solicita la requisición: </strong></p> <!-- Departamento que solicita la requisición -->
                                        <p class="p-2" th:text="*{productoRequisicion.get(0).getIdRequisicionDeArticulo().getIdDepartamento().getNombreDepartamento()}"></p>
                                        <p class="p-2"><strong>Fecha de pedido: </strong></p> <!-- Fecha de pedido -->
                                        <p class="p-2" th:text="*{productoRequisicion.get(0).getIdRequisicionDeArticulo().getFechaPedido()}"></p>
                                    </div>

                                    <table class="table">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Nombre del producto</th>
                                            <th scope="col">Unidad</th>
                                            <th scope="col">Cantidad</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="requisicion : ${productoRequisicion}">
                                            <td th:text="${requisicion.idProductoProveedor.nombreProductoProveedor}">nombreProductoProveedor</td>
                                            <td th:text="${requisicion.getIdProductoProveedor().getUnidad()}">Unidad</td>
                                            <td th:text="${requisicion.cantidad}">cantidad</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex flex-row">
                                        <p class="p-2"><strong>Elaborado por: </strong></p> <!-- Elaborado por-->
                                        <p class="p-2" th:text="*{productoRequisicion.get(0).getIdRequisicionDeArticulo().getElaboradoPor()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table" id="myTable">
                        <thead>
                        <tr>
                            <th>Nombre Porducto</th>
                            <th>Cantidad</th>
                            <th>Min</th>
                            <th>Max</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="producto : ${productoEmpresa}">
                            <td th:text="${producto.nombre}">cantidad</td>
                            <td th:text="${producto.cantidad}">cantidad</td>
                            <td th:text="${producto.min}">min</td>
                            <td th:text="${producto.max}">max</td>
                        </tr>

                        </tbody>
                    </table>
                    <form action="#"  method="post" th:action="@{/admin/requisicionAdmin/editar/}" th:object="${requisicionArticulo}">
                        <!--textArea-->
                        <p><strong>Observaciones:</strong></p>
                        <textarea class="observacion form-control" name="observaciones" rows="10" cols="40" ></textarea>
                        <br/>
                        <input type="hidden" th:name="isss"
                               th:value="${requisicionArticulo.getIdRequisicionDeArticulo()}"
                        >

                        <!-- botones -->
                        <input name="boton" type="submit" value="Aceptar" class="btn btn-success btn-sm">

                        <input name="boton" type="submit" value="Denegar" class="btn btn-danger btn-sm">
                    </form>
                </div> <!-- Fin del div escribir aqui -->
            </div>
        </div>
    </div>
</div>
<div layout:fragment="style_js">
    <!-- Aqui va el contenido JS extra -->

    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"
            src="/static/vendor/datatables/jquery.dataTables.min.js"></script>

    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"
            src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>


    <script th:src="@{/js/demo/datatables-demo.js}"
            src="/static/js/demo/datatables-demo.js"></script>

    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
</div>

</body>
</html>