<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Reportes</title>
    <div layout:fragment="style_css">
        <!-- Aqui va el codigo CSS extra que se quiera agregar -->


        <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
              href="/static/vendor/datatables/dataTables.bootstrap4.min.css"
              rel="stylesheet" type="text/css">
    </div>
</head>

<body>

<div layout:fragment="main_content">
    <!-- Aqui va el contenido principal -->
    <div class="row">
        <div class="col-xl-12">
            <div
                    class="card py-3 my-3 shadow-sm d-flex flex-row align-items-center justify-content-between">
                <div class="col mr-2 text-dark">
                    <h2>Reportes</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow-sm my-3 py-3">
                <div class="table-responsive-lg table-responsive-sm table-responsive-md col-xl-12 col-md-12 col-sm-12">
                    <!-- ESCRIBIR CODIGO AQUÍ -->
                    <!-- Menú de los reportes -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <!-- Menú de la cantidad de articulos solicitados por departamento -->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="cantidadArticulosDepartamento-tab" data-toggle="tab"
                               href="#cantidadArticulosDepartamento" role="tab"
                               aria-controls="cantidadArticulosDepartamento" aria-selected="true">Cantidad de articulos
                                por departamento</a>
                        </li>
                        <!-- Menú de las precios vigentes de los artículos por proveedor -->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="precioVigente-tab" data-toggle="tab" href="#precioVigente"
                               role="tab" aria-controls="precioVigente" aria-selected="false">Precios vigentes</a>
                        </li>
                        <!-- Menú de la cantidad de órdenes de compra asignadas por proveedor con su monto respectivo -->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ordenCompraProveedor-tab" data-toggle="tab"
                               href="#ordenCompraProveedor" role="tab"
                               aria-controls="ordenCompraProveedor" aria-selected="false">Ordenes de compra por
                                proveedor</a>
                        </li>
                        <!-- Menú del stock del inventario de la empresa -->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="stockEmpresa-tab" data-toggle="tab" href="#stockEmpresa" role="tab"
                               aria-controls="stockEmpresa" aria-selected="false">Stock de la empresa</a>
                        </li>
                    </ul>
                    <!-- Fin menú de los reportes -->

                    <!-- Contenido de cada menu del reporte -->
                    <div class="tab-content" id="myTabContent">
                        <!-- *** Cantidad de articulos solicitados por departamento *** -->
                        <div class="tab-pane fade show active" id="cantidadArticulosDepartamento" role="tabpanel" aria-labelledby="cantidadArticulosDepartamento-tab">
                            <table class="table" id="myTableCantidad">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Departamento</th>
                                    <th>Cantidad de articulos</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="departamentoMap, numero : ${departamentoMap}">
                                        <td th:text="${numero.count}"></td>
                                        <td th:text="${departamentoMap.getNombreDepartamento()}"></td>
                                        <td th:text="${departamentoMap.getNumeroDeVentas()}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- *** Fin cantidad de articulos solicitados por departamento *** -->

                        <!-- *** Precios vigentes de los artículos por proveedor *** -->
                        <div class="tab-pane fade" id="precioVigente" role="tabpanel" aria-labelledby="precioVigente-tab">
                            <table class="table" id="precioVigenteTabla">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Proveedor</th>
                                    <th>Producto</th>
                                    <th>Fecha inicio de la promoción</th>
                                    <th>Fecha fin de la promoción</th>
                                    <th>Precio vigente</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="productoProveedorPrecioVigente, numero : ${productoProveedorPrecioVigentes}">
                                        <td th:text="${numero.count}"></td>
                                        <td>
                                            <p th:text="${productoProveedorPrecioVigente.getIdProveedor().getNombreProveedor()}"></p>
                                            <p th:text="${productoProveedorPrecioVigente.getIdProveedor().getApellidoProveedor()}"></p>
                                        </td>
                                        <td th:text="${productoProveedorPrecioVigente.getNombreProductoProveedor()}"></td>
                                        <td th:text="${productoProveedorPrecioVigente.getFechaVigenciaInicio()}"></td>
                                        <td th:text="${productoProveedorPrecioVigente.getFechaVigenciaFinal()}"></td>
                                        <div th:each="productoConDescuento : ${preciosConDescuento.entrySet()}">
                                            <div th:if="${productoProveedorPrecioVigente.getIdProductoProveedor() == productoConDescuento.getKey()}">
                                                <td th:text="'$ ' + ${productoConDescuento.getValue()}"></td>
                                            </div>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- *** Fin precios vigentes de los artículos por proveedor *** -->

                        <!-- *** Cantidad de órdenes de compra asignadas por proveedor con su monto respectivo *** -->
                        <div class="tab-pane fade" id="ordenCompraProveedor" role="tabpanel" aria-labelledby="ordenCompraProveedor-tab">
                            <table class="table" id="ordenCompraProveedorProveedor">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Proveedor</th>
                                    <th>Fecha de la orden de compra</th>
                                    <th>Total de la compra</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ordenDeCompra,numero : ${ordenesDeCompra}">
                                    <td th:text="${numero.count}">ID</td>
                                    <td>
                                        <p th:text="${ordenDeCompra.getIdProveedor().getNombreProveedor()}"></p>
                                        <p th:text="${ordenDeCompra.getIdProveedor().getApellidoProveedor()}"></p>
                                    </td>
                                    <td th:text="'$ ' + ${ordenDeCompra.getFechaPedido()}"></td>
                                    <td th:text="'$ ' + ${ordenDeCompra.getTotalCompra()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- *** Fin cantidad de órdenes de compra asignadas por proveedor con su monto respectivo *** -->

                        <!-- *** Stock del inventario de la empresa *** -->
                        <div class="tab-pane fade" id="stockEmpresa" role="tabpanel" aria-labelledby="stockEmpresa-tab">
                            <table class="table" id="stockEmpresaTabla">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Producto</th>
                                    <th>Existencia</th>
                                    <th>Cantidad Mínima</th>
                                    <th>Cantidad Máxima</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product, numero : ${listProductoEmpresa}">
                                    <td th:text="${numero.count}">#</td>
                                    <td th:text="${product.nombre}">Nombre del producto</td>
                                    <td th:text="${product.cantidad}">Cantidad</td>
                                    <td th:text="${product.min}">Mínimo</td>
                                    <td th:text="${product.max}">Máximo</td>
                                </tr>
                                </tbody>
                            </table>
                        </div> <!-- *** Fin stock del inventario de la empresa *** -->

                    </div> <!-- Fin del contenido de cada menu del reporte -->
                </div> <!-- Fin del div escribir aqui -->
            </div>
        </div>
    </div>
</div>
<div layout:fragment="style_js">
    <!-- Aqui va el contenido JS extra -->

    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"
            src="/static/vendor/datatables/jquery.dataTables.min.js"></script>

    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"
            src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>


    <script th:src="@{/js/demo/datatables-demo.js}"
            src="/static/js/demo/datatables-demo.js"></script>

    <script>
        $(document).ready(function () {
            $('#precioVigenteTabla').DataTable({
                //Quitando el ordenamiento de las columnas
                "aaSorting": [],
                "aoColumnDefs": [{
                    'bSortable': true,
                    'aTargets': [0,3,4]
                }]
            });
            $('#stockEmpresaTabla').DataTable({
                //Quitando el ordenamiento de las columnas
                "aaSorting": [],
                "aoColumnDefs": [{
                    'bSortable': true,
                    'aTargets': [0]
                }]
            });
            $('#ordenCompraProveedorProveedor').DataTable();
            $('#myTable').DataTable();
            $('#myTableCantidad').DataTable();
        });
    </script>

</div>

</body>
</html>